# Box Office Mojo - EDA

Importing packages

In [1]:
import pandas as pd
import numpy as np
import pickle

Loading pickled dataframe

In [2]:
fl_movies = pd.read_pickle('fl_movies.pickle')
fl_movies.head()

,link_stub,gross_rank,title,lifetime_gross,max_theaters,domestic_opening_x,num_opening_theaters,release_date_x,domestic_distributor_x,domestic_total_gross,...,release_date_y,release_location,rating,runtime,genres,original_release_markets_num,crew,cast,earliest_release_location_opening_gross,earliest_release_location_original_gross
"Crouching Tiger, Hidden Dragon",/title/tt0190332/?ref_=bo_ge_table_1,1,"Crouching Tiger, Hidden Dragon","$128,078,872","2,027","$663,205",16,"Dec 8, 2000",Sony Pictures Classics\n\n,128078872.0,...,2000-12-08,Domestic,PG-13,NaN,Action Adventure Fantasy Romance,9,"Ang Lee Director, Hui-Ling Wang Writer, James ...","Chow Yun-Fat, Michelle Yeoh, Ziyi Zhang, Chen ...",663205.0,128078872.0
Life Is Beautiful,/title/tt0118799/?ref_=bo_ge_table_2,2,Life Is Beautiful,"$57,247,384","1,136","$118,920",6,"Oct 23, 1998",Miramax\n\n,57563264.0,...,1998-10-23,Domestic,PG-13,116.0,Comedy Drama Romance War,"Domestic, China","Roberto Benigni Director, Vincenzo Cerami Writ...","Roberto Benigni, Nicoletta Braschi, Giorgio Ca...",118920.0,57247384.0
Hero,/title/tt0299977/?ref_=bo_ge_table_3,3,Hero,"$53,710,019","2,175","$17,800,000","2,031","Aug 27, 2004",Miramax\n\n,53710019.0,...,2002-12-19,"APAC, China",PG-13,NaN,Action Adventure History,None,"Yimou Zhang Director, Feng Li Writer, Yimou Zh...","Jet Li, Tony Chiu-Wai Leung, Maggie Cheung, Zi...",17800000.0,53710019.0
Parasite,/title/tt6751668/?ref_=bo_ge_table_4,4,Parasite,"$53,369,749","2,001","$393,216",3,"Oct 11, 2019",Neon\n\n,53369749.0,...,2019-05-30,South Korea,R,132.0,Comedy Drama Thriller,34,"Bong Joon Ho Director, Bong Joon Ho Writer, Bo...","Kang-ho Song, Sun-kyun Lee, Yeo-jeong Cho, Woo...",393216.0,53369749.0
Instructions Not Included,/title/tt2378281/?ref_=bo_ge_table_5,5,Instructions Not Included,"$44,467,206",978,"$7,846,426",348,"Aug 30, 2013",Lionsgate\n\n,44467206.0,...,2013-08-30,Domestic,PG-13,115.0,Comedy Drama,15,"Eugenio Derbez Director, Guillermo Ríos Writer...","Eugenio Derbez, Karla Souza, Jessica Lindsey, ...",7846426.0,44467206.0

In [3]:
fl_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2499 entries, Crouching Tiger, Hidden Dragon to Dog Eat Dog
Data columns (total 24 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   link_stub                                 2499 non-null   object
 1   gross_rank                                2499 non-null   object
 2   title                                     2499 non-null   object
 3   lifetime_gross                            2499 non-null   object
 4   max_theaters                              2499 non-null   object
 5   domestic_opening_x                        2499 non-null   object
 6   num_opening_theaters                      2499 non-null   object
 7   release_date_x                            2499 non-null   object
 8   domestic_distributor_x                    2499 non-null   object
 9   domestic_total_gross                      2499 non-null   float64
 10  international_total_gross                 2499 non-null   float64
 11  domestic_distributor_y                    2348 non-null   object
 12  domestic_opening_y                        2128 non-null   float64
 13  budget                                    51 non-null     float64
 14  release_date_y                            2499 non-null   datetime64[ns]
 15  release_location                          2499 non-null   object
 16  rating                                    667 non-null    object
 17  runtime                                   2427 non-null   float64
 18  genres                                    2498 non-null   object
 19  original_release_markets_num              524 non-null    object
 20  crew                                      2465 non-null   object
 21  cast                                      2465 non-null   object
 22  earliest_release_location_opening_gross   2195 non-null   float64
 23  earliest_release_location_original_gross  2466 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(16)
memory usage: 488.1+ KB

In [103]:
fl_movies.describe()

,domestic_total_gross,international_total_gross,domestic_opening_y,budget,runtime,earliest_release_location_opening_gross,earliest_release_location_original_gross
count,2.499000e+03,2.499000e+03,2.128000e+03,5.100000e+01,2427.000000,2.195000e+03,2.466000e+03
mean,9.588287e+05,1.211400e+07,1.692231e+05,1.362443e+07,115.361351,2.401064e+05,1.204746e+06
std,3.920960e+06,4.240661e+07,6.599253e+05,1.267777e+07,28.071309,3.309224e+06,9.916738e+06
min,8.000000e+01,2.340000e+02,2.400000e+01,4.600000e+04,61.000000,2.400000e+01,8.000000e+01
25%,3.012900e+04,1.115120e+05,6.078750e+03,5.150000e+06,98.000000,6.153500e+03,3.273375e+04
50%,1.412430e+05,1.230634e+06,2.019550e+04,1.140000e+07,110.000000,2.065200e+04,1.638590e+05
75%,7.102450e+05,7.594694e+06,8.429975e+04,1.850000e+07,128.000000,8.810650e+04,7.713375e+05
max,1.280789e+08,8.676043e+08,1.780000e+07,6.500000e+07,572.000000,1.521634e+08,4.511766e+08

### Dropping duplicate columns

In [20]:
fl_movies.drop(columns=["title", "domestic_distributor_y", "domestic_opening_y"], inplace=True)

In [22]:
fl_movies.drop(columns=["release_date_y"], inplace=True)

In [23]:
fl_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2499 entries, Crouching Tiger, Hidden Dragon to Dog Eat Dog
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   link_stub                                 2499 non-null   object
 1   gross_rank                                2499 non-null   object
 2   lifetime_gross                            2499 non-null   object
 3   max_theaters                              2499 non-null   object
 4   domestic_opening_x                        2499 non-null   object
 5   num_opening_theaters                      2499 non-null   object
 6   release_date_x                            2499 non-null   object
 7   domestic_distributor_x                    2499 non-null   object
 8   domestic_total_gross                      2499 non-null   float64
 9   international_total_gross                 2499 non-null   float64
 10  budget                                    51 non-null     float64
 11  release_location                          2499 non-null   object
 12  rating                                    667 non-null    object
 13  runtime                                   2427 non-null   float64
 14  genres                                    2498 non-null   object
 15  original_release_markets_num              524 non-null    object
 16  crew                                      2465 non-null   object
 17  cast                                      2465 non-null   object
 18  earliest_release_location_opening_gross   2195 non-null   float64
 19  earliest_release_location_original_gross  2466 non-null   float64
dtypes: float64(6), object(14)
memory usage: 410.0+ KB

In [ ]:
import dateutil.parser

def money_to_int(moneystring):
    moneystring = moneystring.replace('$', '').replace(',', '')
    return int(moneystring)

def runtime_to_minutes(runtimestring):
    runtime = runtimestring.split()
    try:
        minutes = int(runtime[0])*60 + int(runtime[2])
        return minutes
    except:
        return None

def to_date(datestring):
    date = dateutil.parser.parse(datestring)
    return date

### Changing column datatypes

Changing release date to datetime object

In [26]:
fl_movies['release_date_x']= pd.to_datetime(fl_movies['release_date_x'], format='%b %d, %Y')

Changing lifetime_gross and domestic_opening_x to money float objects

In [38]:
fl_movies[['lifetime_gross']] = fl_movies[['lifetime_gross']].replace('[\$,]','',regex=True).astype(float)

In [105]:
fl_movies.domestic_opening_x.replace({'-': None}, inplace=True)

In [106]:
fl_movies[['domestic_opening_x']] = fl_movies[['domestic_opening_x']].replace('[\$,]','',regex=True).astype(float)

In [45]:
fl_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2499 entries, Crouching Tiger, Hidden Dragon to Dog Eat Dog
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   link_stub                                 2499 non-null   object
 1   gross_rank                                2499 non-null   object
 2   lifetime_gross                            2499 non-null   float64
 3   max_theaters                              2499 non-null   object
 4   domestic_opening_x                        2291 non-null   float64
 5   num_opening_theaters                      2499 non-null   object
 6   release_date_x                            2499 non-null   datetime64[ns]
 7   domestic_distributor_x                    2499 non-null   object
 8   domestic_total_gross                      2499 non-null   float64
 9   international_total_gross                 2499 non-null   float64
 10  budget                                    51 non-null     float64
 11  release_location                          2499 non-null   object
 12  rating                                    667 non-null    object
 13  runtime                                   2427 non-null   float64
 14  genres                                    2498 non-null   object
 15  original_release_markets_num              524 non-null    object
 16  crew                                      2465 non-null   object
 17  cast                                      2465 non-null   object
 18  earliest_release_location_opening_gross   2195 non-null   float64
 19  earliest_release_location_original_gross  2466 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(11)
memory usage: 410.0+ KB

In [107]:
fl_movies.describe()

,domestic_opening_x,domestic_total_gross,international_total_gross,domestic_opening_y,budget,runtime,earliest_release_location_opening_gross,earliest_release_location_original_gross
count,2.291000e+03,2.499000e+03,2.499000e+03,2.128000e+03,5.100000e+01,2427.000000,2.195000e+03,2.466000e+03
mean,1.581720e+05,9.588287e+05,1.211400e+07,1.692231e+05,1.362443e+07,115.361351,2.401064e+05,1.204746e+06
std,6.372849e+05,3.920960e+06,4.240661e+07,6.599253e+05,1.267777e+07,28.071309,3.309224e+06,9.916738e+06
min,2.400000e+01,8.000000e+01,2.340000e+02,2.400000e+01,4.600000e+04,61.000000,2.400000e+01,8.000000e+01
25%,5.661500e+03,3.012900e+04,1.115120e+05,6.078750e+03,5.150000e+06,98.000000,6.153500e+03,3.273375e+04
50%,1.781700e+04,1.412430e+05,1.230634e+06,2.019550e+04,1.140000e+07,110.000000,2.065200e+04,1.638590e+05
75%,7.350850e+04,7.102450e+05,7.594694e+06,8.429975e+04,1.850000e+07,128.000000,8.810650e+04,7.713375e+05
max,1.780000e+07,1.280789e+08,8.676043e+08,1.780000e+07,6.500000e+07,572.000000,1.521634e+08,4.511766e+08

Convert gross rank to float

In [50]:
fl_movies['gross_rank'] = fl_movies['gross_rank'].str.replace(',', '').astype(float)

Convert max_theaters to float

In [52]:
fl_movies.max_theaters.replace({'-': None}, inplace=True)

In [53]:
fl_movies['max_theaters'] = fl_movies['max_theaters'].str.replace(',', '').astype(float)

Convert num_opening_theaters to float

In [55]:
fl_movies.num_opening_theaters.replace({'-': None}, inplace=True)

In [56]:
fl_movies['num_opening_theaters'] = fl_movies['num_opening_theaters'].str.replace(',', '').astype(float)

Replacing all "-" values with None

In [58]:
fl_movies.replace({'-': None}, inplace=True)

Removing "\n\n" from domestic distributor

In [70]:
fl_movies.domestic_distributor_x.replace('\\n\\n', '', regex=True, inplace=True)

Changing a few column names

In [72]:
fl_movies.rename(columns={"domestic_opening_x": "domestic_opening", "release_date_x": "release_date", "domestic_distributor_x": "domestic_distributor", "release_location":"earliest_release_location"}, inplace=True)

In [73]:
fl_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2499 entries, Crouching Tiger, Hidden Dragon to Dog Eat Dog
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   link_stub                                 2499 non-null   object
 1   gross_rank                                2499 non-null   float64
 2   lifetime_gross                            2499 non-null   float64
 3   max_theaters                              2416 non-null   float64
 4   domestic_opening                          2291 non-null   float64
 5   num_opening_theaters                      2294 non-null   float64
 6   release_date                              2499 non-null   datetime64[ns]
 7   domestic_distributor                      2390 non-null   object
 8   domestic_total_gross                      2499 non-null   float64
 9   international_total_gross                 2499 non-null   float64
 10  budget                                    51 non-null     float64
 11  earliest_release_location                 2499 non-null   object
 12  rating                                    667 non-null    object
 13  runtime                                   2427 non-null   float64
 14  genres                                    2498 non-null   object
 15  original_release_markets_num              524 non-null    object
 16  crew                                      2465 non-null   object
 17  cast                                      2465 non-null   object
 18  earliest_release_location_opening_gross   2195 non-null   float64
 19  earliest_release_location_original_gross  2466 non-null   float64
dtypes: datetime64[ns](1), float64(11), object(8)
memory usage: 410.0+ KB

In [74]:
fl_movies[fl_movies['domestic_opening'].isna()]

,link_stub,gross_rank,lifetime_gross,max_theaters,domestic_opening,num_opening_theaters,release_date,domestic_distributor,domestic_total_gross,international_total_gross,budget,earliest_release_location,rating,runtime,genres,original_release_markets_num,crew,cast,earliest_release_location_opening_gross,earliest_release_location_original_gross
Shall We Dance?,/title/tt0117615/?ref_=bo_ge_table_34,34.0,9499091.0,NaN,NaN,NaN,1997-07-11,Miramax,9499091.0,9499091.0,NaN,Domestic,PG,136.0,Comedy Drama Music Romance,None,"Masayuki Suo Director, Masayuki Suo Writer, Sh...","Kôji Yakusho, Tamiyo Kusakari, Naoto Takenaka,...",NaN,9499091.0
Women on the Verge of a Nervous Breakdown,/title/tt0095675/?ref_=bo_ge_table_48,48.0,7179298.0,NaN,NaN,NaN,1988-11-11,Orion Classics,7251740.0,11389.0,NaN,Domestic,None,88.0,Comedy Drama,Domestic,"Pedro Almodóvar Director, Pedro Almodóvar Writ...","Carmen Maura, Antonio Banderas, Julieta Serran...",NaN,7179298.0
La Cage aux Folles II,/title/tt0080489/?ref_=bo_ge_table_51,51.0,6950125.0,NaN,NaN,NaN,1981-02-15,Metro-Goldwyn-Mayer (MGM),6950125.0,6950125.0,NaN,Domestic,None,101.0,Comedy,None,"Édouard Molinaro Director, Jean Poiret Writer,...","Michel Serrault, Ugo Tognazzi, Marcel Bozzuffi...",NaN,6950125.0
Fanny and Alexander,/title/tt0083922/?ref_=bo_ge_table_53,53.0,6783304.0,NaN,NaN,NaN,1983-06-17,Embassy Pictures,6783304.0,12467.0,NaN,Domestic,None,188.0,Drama,Domestic,"Ingmar Bergman Director, Ingmar Bergman Writer...","Bertil Guve, Pernilla Allwin, Kristina Adolphs...",NaN,6783304.0
The Closet,/title/tt0243493/?ref_=bo_ge_table_56,56.0,6678894.0,145.0,NaN,NaN,2001-06-06,Miramax,6678894.0,43425851.0,NaN,Domestic,R,84.0,Comedy,None,"Francis Veber Director, Francis Veber Writer, ...","Daniel Auteuil, Gérard Depardieu, Thierry Lher...",NaN,6678894.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Student,/title/tt4874206/?ref_=bo_ge_table_65,2465.0,1126.0,1.0,NaN,NaN,2017-04-14,Under The Milky Way,1126.0,316997.0,NaN,Russia/CIS,None,118.0,Drama,None,"Kirill Serebrennikov Director, Kirill Serebren...","Pyotr Skvortsov, Viktoriya Isakova, Yuliya Aug...",NaN,1126.0
Paris Countdown,/title/tt2402163/?ref_=bo_ge_table_70,2470.0,1055.0,NaN,NaN,NaN,2013-11-08,Screen Media Films,1055.0,707702.0,NaN,EMEA,None,92.0,Crime Thriller,None,"Edgar Marie Director, Edgar Marie Writer, Cyri...","Jacques Gamblin, Olivier Marchal, Carlo Brandt...",NaN,1055.0
Billy and Buddy,/title/tt2538654/?ref_=bo_ge_table_76,2476.0,894.0,2.0,NaN,NaN,2013-11-08,Distrib Films,894.0,17399159.0,NaN,EMEA,None,82.0,Comedy Family,None,"Alexandre Charlot Director, Franck Magnier Dir...","Franck Dubosc, Marina Foïs, Charles Crombez, N...",NaN,894.0
It's Hard Being Loved by Jerks,/title/tt1289783/?ref_=bo_ge_table_86,2486.0,697.0,7.0,NaN,NaN,2015-03-13,Kino Lorber,697.0,304633.0,NaN,EMEA,None,110.0,Documentary,EMEA,"Daniel Leconte Director, Daniel Leconte Produc...","Elisabeth Badinter, François Bayrou, Christoph...",3000.0,3000.0
La folle histoire de Max et Léon,/title/tt5091538/?ref_=bo_ge_table_93,2493.0,543.0,1.0,NaN,NaN,2017-03-15,Distrib Films,543.0,8750135.0,NaN,France,None,98.0,Comedy War,None,"Jonathan Barré Director, Jonathan Barré Writer...","David Marsais, Grégoire Ludig, Alice Vial, Sas...",NaN,543.0

If the earliest release location does not include "Domestic", change domestic opening to 0

In [97]:
earliestrelease_notdomestic_movies = fl_movies[~fl_movies["earliest_release_location"].str.contains("Domestic")]
earliestrelease_notdomestic_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1659 entries, Hero to News from Planet Mars
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   link_stub                                 1659 non-null   object
 1   gross_rank                                1659 non-null   float64
 2   lifetime_gross                            1659 non-null   float64
 3   max_theaters                              1651 non-null   float64
 4   domestic_opening                          1591 non-null   float64
 5   num_opening_theaters                      1593 non-null   float64
 6   release_date                              1659 non-null   datetime64[ns]
 7   domestic_distributor                      1609 non-null   object
 8   domestic_total_gross                      1659 non-null   float64
 9   international_total_gross                 1659 non-null   float64
 10  budget                                    41 non-null     float64
 11  earliest_release_location                 1659 non-null   object
 12  rating                                    496 non-null    object
 13  runtime                                   1612 non-null   float64
 14  genres                                    1659 non-null   object
 15  original_release_markets_num              366 non-null    object
 16  crew                                      1649 non-null   object
 17  cast                                      1649 non-null   object
 18  earliest_release_location_opening_gross   1524 non-null   float64
 19  earliest_release_location_original_gross  1653 non-null   float64
dtypes: datetime64[ns](1), float64(11), object(8)
memory usage: 272.2+ KB

In [98]:
earliestrelease_notdomestic_movies.to_pickle('earliestrelease_notdomestic_movies.pickle')

In [99]:
earliestrelease_notdomestic_movies.head()

,link_stub,gross_rank,lifetime_gross,max_theaters,domestic_opening,num_opening_theaters,release_date,domestic_distributor,domestic_total_gross,international_total_gross,budget,earliest_release_location,rating,runtime,genres,original_release_markets_num,crew,cast,earliest_release_location_opening_gross,earliest_release_location_original_gross
Hero,/title/tt0299977/?ref_=bo_ge_table_3,3.0,53710019.0,2175.0,17800000.0,2031.0,2004-08-27,Miramax,53710019.0,123685538.0,31000000.0,"APAC, China",PG-13,NaN,Action Adventure History,None,"Yimou Zhang Director, Feng Li Writer, Yimou Zh...","Jet Li, Tony Chiu-Wai Leung, Maggie Cheung, Zi...",17800000.0,53710019.0
Parasite,/title/tt6751668/?ref_=bo_ge_table_4,4.0,53369749.0,2001.0,393216.0,3.0,2019-10-11,Neon,53369749.0,205484917.0,11400000.0,South Korea,R,132.0,Comedy Drama Thriller,34,"Bong Joon Ho Director, Bong Joon Ho Writer, Bo...","Kang-ho Song, Sun-kyun Lee, Yeo-jeong Cho, Woo...",393216.0,53369749.0
Pan's Labyrinth,/title/tt0457430/?ref_=bo_ge_table_6,6.0,37634615.0,1143.0,568641.0,17.0,2006-12-29,Picturehouse,37634615.0,46215652.0,19000000.0,Spain,R,118.0,Drama Fantasy War,None,"Guillermo del Toro Director, Guillermo del Tor...","Ivana Baquero, Ariadna Gil, Sergi López, Marib...",568641.0,37634615.0
Amélie,/title/tt0211915/?ref_=bo_ge_table_7,7.0,33225499.0,303.0,136470.0,3.0,2001-11-02,Miramax,33225499.0,140699243.0,10000000.0,France,R,122.0,Comedy Romance,20,"Jean-Pierre Jeunet Director, Guillaume Laurant...","Audrey Tautou, Mathieu Kassovitz, Rufus, Lorel...",136470.0,33225499.0
Fearless,/title/tt0446059/?ref_=bo_ge_table_8,8.0,24633730.0,1810.0,10564000.0,1806.0,2006-09-22,Rogue Pictures,24633730.0,43439118.0,NaN,"APAC, China",PG-13,104.0,Action Biography Drama Sport,None,"Ronny Yu Director, Chris Chow Writer, Richard ...","Jet Li, Li Sun, Yong Dong, Yun Qu",10564000.0,24633730.0