Scraping from IMDB

In [1]:
from bs4 import BeautifulSoup
import requests
import time, os
import re
import pandas as pd
import time
import pickle

from currency_converter import CurrencyConverter
from datetime import date

Loading previous pickled dataframe

In [2]:
earliestrelease_notdomestic_movies = pd.read_pickle('earliestrelease_notdomestic_movies.pickle')

In [3]:
earliestrelease_notdomestic_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1659 entries, Hero to News from Planet Mars
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   link_stub                                 1659 non-null   object
 1   gross_rank                                1659 non-null   float64
 2   lifetime_gross                            1659 non-null   float64
 3   max_theaters                              1651 non-null   float64
 4   domestic_opening                          1591 non-null   float64
 5   num_opening_theaters                      1593 non-null   float64
 6   release_date                              1659 non-null   datetime64[ns]
 7   domestic_distributor                      1609 non-null   object
 8   domestic_total_gross                      1659 non-null   float64
 9   international_total_gross                 1659 non-null   float64
 10  budget                                    41 non-null     float64
 11  earliest_release_location                 1659 non-null   object
 12  rating                                    496 non-null    object
 13  runtime                                   1612 non-null   float64
 14  genres                                    1659 non-null   object
 15  original_release_markets_num              366 non-null    object
 16  crew                                      1649 non-null   object
 17  cast                                      1649 non-null   object
 18  earliest_release_location_opening_gross   1524 non-null   float64
 19  earliest_release_location_original_gross  1653 non-null   float64
dtypes: datetime64[ns](1), float64(11), object(8)
memory usage: 272.2+ KB

In [8]:
earliestrelease_notdomestic_movies.link_stub.head()

Hero               /title/tt0299977/?ref_=bo_ge_table_3
Parasite           /title/tt6751668/?ref_=bo_ge_table_4
Pan's Labyrinth    /title/tt0457430/?ref_=bo_ge_table_6
Am√©lie             /title/tt0211915/?ref_=bo_ge_table_7
Fearless           /title/tt0446059/?ref_=bo_ge_table_8
Name: link_stub, dtype: object

In [12]:
new_link_stubs = []
for link in earliestrelease_notdomestic_movies.link_stub:
    new_link_stubs.append(link.split('?')[0])

new_link_stubs

['/title/tt0299977/',
 '/title/tt6751668/',
 '/title/tt0457430/',
 '/title/tt0211915/',
 '/title/tt0446059/',
 '/title/tt4849438/',
 '/title/tt0373074/',
 '/title/tt0318462/',
 '/title/tt0265343/',
 '/title/tt0245574/',
 '/title/tt0441909/',
 '/title/tt0427954/',
 '/title/tt5935704/',
 '/title/tt0405094/',
 '/title/tt0237534/',
 '/title/tt0385004/',
 '/title/tt2338151/',
 '/title/tt0450188/',
 '/title/tt1675434/',
 '/title/tt1132620/',
 '/title/tt0245429/',
 '/title/tt0287467/',
 '/title/tt4643580/',
 '/title/tt1833673/',
 '/title/tt6452574/',
 '/title/tt1668200/',
 '/title/tt1216487/',
 '/title/tt0317248/',
 '/title/tt0464141/',
 '/title/tt1832382/',
 '/title/tt1602620/',
 '/title/tt1462900/',
 '/title/tt0473444/',
 '/title/tt0344510/',
 '/title/tt1305806/',
 '/title/tt4832640/',
 '/title/tt0161860/',
 '/title/tt0362225/',
 '/title/tt1035736/',
 '/title/tt7605074/',
 '/title/tt0313196/',
 '/title/tt0416044/',
 '/title/tt1566501/',
 '/title/tt5956100/',
 '/title/tt0363163/',
 '/title/tt0813547/',
 '/title/tt0237539/',
 '/title/tt2112124/',
 '/title/tt0275491/',
 '/title/tt1343097/',
 '/title/tt7212726/',
 '/title/tt1164999/',
 '/title/tt5311514/',
 '/title/tt0913425/',
 '/title/tt1226236/',
 '/title/tt7430722/',
 '/title/tt0808357/',
 '/title/tt6543652/',
 '/title/tt8291806/',
 '/title/tt0368909/',
 '/title/tt0243862/',
 '/title/tt0389557/',
 '/title/tt4559006/',
 '/title/tt2350496/',
 '/title/tt8291224/',
 '/title/tt7948540/',
 '/title/tt0246772/',
 '/title/tt5080556/',
 '/title/tt1899353/',
 '/title/tt0301357/',
 '/title/tt1188996/',
 '/title/tt1588337/',
 '/title/tt5071886/',
 '/title/tt0216800/',
 '/title/tt2178470/',
 '/title/tt2718492/',
 '/title/tt1068646/',
 '/title/tt8613070/',
 '/title/tt0338095/',
 '/title/tt9248972/',
 '/title/tt0387898/',
 '/title/tt1024943/',
 '/title/tt4080728/',
 '/title/tt0449994/',
 '/title/tt8075192/',
 '/title/tt0449999/',
 '/title/tt4701660/',
 '/title/tt0191636/',
 '/title/tt1189073/',
 '/title/tt2764784/',
 '/title/tt1068649/',
 '/title/tt3367294/',
 '/title/tt0250223/',
 '/title/tt1562872/',
 '/title/tt3011894/',
 '/title/tt0283832/',
 '/title/tt1032856/',
 '/title/tt7721800/',
 '/title/tt8976664/',
 '/title/tt0468565/',
 '/title/tt6836936/',
 '/title/tt1787988/',
 '/title/tt2358891/',
 '/title/tt0283900/',
 '/title/tt0329388/',
 '/title/tt0463345/',
 '/title/tt2082197/',
 '/title/tt0118694/',
 '/title/tt2215477/',
 '/title/tt6988116/',
 '/title/tt7131870/',
 '/title/tt0352994/',
 '/title/tt2888046/',
 '/title/tt6980546/',
 '/title/tt4964788/',
 '/title/tt2265171/',
 '/title/tt4900716/',
 '/title/tt3541262/',
 '/title/tt2905838/',
 '/title/tt0301414/',
 '/title/tt6046212/',
 '/title/tt2112131/',
 '/title/tt2372222/',
 '/title/tt1275863/',
 '/title/tt6336356/',
 '/title/tt5186714/',
 '/title/tt0374546/',
 '/title/tt10147382/',
 '/title/tt0310778/',
 '/title/tt2059255/',
 '/title/tt3716530/',
 '/title/tt0318034/',
 '/title/tt3812366/',
 '/title/tt2150332/',
 '/title/tt1185616/',
 '/title/tt7485048/',
 '/title/tt2372678/',
 '/title/tt0461936/',
 '/title/tt1149362/',
 '/title/tt0456144/',
 '/title/tt0468492/',
 '/title/tt2278871/',
 '/title/tt1029231/',
 '/title/tt7639372/',
 '/title/tt0482088/',
 '/title/tt1146325/',
 '/title/tt4958468/',
 '/title/tt5700672/',
 '/title/tt0363532/',
 '/title/tt7721946/',
 '/title/tt2425486/',
 '/title/tt0439662/',
 '/title/tt0369702/',
 '/title/tt0499375/',
 '/title/tt1235166/',
 '/title/tt0372824/',
 '/title/tt1182937/',
 '/title/tt1255953/',
 '/title/tt2053425/',
 '/title/tt0444112/',
 '/title/tt5639354/',
 '/title/tt2011971/',
 '/title/tt1445520/',
 '/title/tt4016934/',
 '/title/tt9052870/',
 '/title/tt6277440/',
 '/title/tt0449851/',
 '/title/tt9586294/',
 '/title/tt4262980/',
 '/title/tt5537228/',
 '/title/tt7160070/',
 '/title/tt3501416/',
 '/title/tt6654316/',
 '/title/tt2181931/',
 '/title/tt8130968/',
 '/title/tt0889652/',
 '/title/tt5785170/',
 '/title/tt0405393/',
 '/title/tt4169250/',
 '/title/tt1980986/',
 '/title/tt3808342/',
 '/title/tt2219514/',
 '/title/tt0347473/',
 '/title/tt5321942/',
 '/title/tt0374583/',
 '/title/tt0787442/',
 '/title/tt7218518/',
 '/title/tt8267604/',
 '/title/tt0836700/',
 '/title/tt0287471/',
 '/title/tt5982852/',
 '/title/tt2356180/',
 '/title/tt1023441/',
 '/title/tt1521848/',
 '/title/tt0326977/',
 '/title/tt1753813/',
 '/title/tt0254455/',
 '/title/tt1375789/',
 '/title/tt0929425/',
 '/title/tt1276419/',
 '/title/tt6878882/',
 '/title/tt0457655/',
 '/title/tt1934231/',
 '/title/tt6878038/',
 '/title/tt1613750/',
 '/title/tt1379222/',
 '/title/tt0403358/',
 '/title/tt1069238/',
 '/title/tt0819953/',
 '/title/tt4326444/',
 '/title/tt4048272/',
 '/title/tt0274117/',
 '/title/tt1827512/',
 '/title/tt0445620/',
 '/title/tt5970844/',
 '/title/tt1144804/',
 '/title/tt0212712/',
 '/title/tt0806088/',
 '/title/tt2737050/',
 '/title/tt5456546/',
 '/title/tt0432637/',
 '/title/tt0778784/',
 '/title/tt0456165/',
 '/title/tt5991206/',
 '/title/tt0451850/',
 '/title/tt0461336/',
 '/title/tt3159708/',
 '/title/tt1020773/',
 '/title/tt2243389/',
 '/title/tt1017456/',
 '/title/tt2121382/',
 '/title/tt2258858/',
 '/title/tt6580564/',
 '/title/tt1421046/',
 '/title/tt0234288/',
 '/title/tt2404461/',
 '/title/tt4285496/',
 '/title/tt4559046/',
 '/title/tt6843812/',
 '/title/tt5311542/',
 '/title/tt4242158/',
 '/title/tt5061814/',
 '/title/tt1274295/',
 '/title/tt0459605/',
 '/title/tt1620719/',
 '/title/tt2073016/',
 '/title/tt0368913/',
 '/title/tt1188982/',
 '/title/tt3859980/',
 '/title/tt3685624/',
 '/title/tt0488414/',
 '/title/tt1185420/',
 '/title/tt0265148/',
 '/title/tt2309764/',
 '/title/tt2168910/',
 '/title/tt0986264/',
 '/title/tt0367110/',
 '/title/tt1728986/',
 '/title/tt0795434/',
 '/title/tt1032846/',
 '/title/tt8108198/',
 '/title/tt1573072/',
 '/title/tt8108164/',
 '/title/tt3086442/',
 '/title/tt1703958/',
 '/title/tt1562859/',
 '/title/tt0315642/',
 '/title/tt2213054/',
 '/title/tt0269499/',
 '/title/tt0871510/',
 '/title/tt0386064/',
 '/title/tt0995031/',
 '/title/tt2802154/',
 '/title/tt5165344/',
 '/title/tt1985981/',
 '/title/tt3409392/',
 '/title/tt0286516/',
 '/title/tt0465188/',
 '/title/tt4370784/',
 '/title/tt0807758/',
 '/title/tt0993789/',
 '/title/tt0337578/',
 '/title/tt0825236/',
 '/title/tt0424205/',
 '/title/tt0265930/',
 '/title/tt8908002/',
 '/title/tt1417075/',
 '/title/tt6527426/',
 '/title/tt0203166/',
 '/title/tt1039995/',
 '/title/tt0411270/',
 '/title/tt1438298/',
 '/title/tt0208990/',
 '/title/tt6910020/',
 '/title/tt6101820/',
 '/title/tt1966566/',
 '/title/tt2178941/',
 '/title/tt1806913/',
 '/title/tt0283509/',
 '/title/tt0254686/',
 '/title/tt0291579/',
 '/title/tt7363076/',
 '/title/tt0869994/',
 '/title/tt0490210/',
 '/title/tt1340107/',
 '/title/tt0453671/',
 '/title/tt5815492/',
 '/title/tt7048622/',
 '/title/tt1328634/',
 '/title/tt1773109/',
 '/title/tt3062880/',
 '/title/tt1839596/',
 '/title/tt5197544/',
 '/title/tt1996310/',
 '/title/tt1708532/',
 '/title/tt0346457/',
 '/title/tt1255951/',
 '/title/tt2113681/',
 '/title/tt0448206/',
 '/title/tt4698584/',
 '/title/tt2290840/',
 '/title/tt3666024/',
 '/title/tt0311519/',
 '/title/tt1091229/',
 '/title/tt3302962/',
 '/title/tt0418362/',
 '/title/tt1608566/',
 '/title/tt2359810/',
 '/title/tt7027278/',
 '/title/tt0381690/',
 '/title/tt5815940/',
 '/title/tt6423776/',
 '/title/tt0758053/',
 '/title/tt1048171/',
 '/title/tt5029608/',
 '/title/tt5273624/',
 '/title/tt1043451/',
 '/title/tt4830786/',
 '/title/tt0833553/',
 '/title/tt3450116/',
 '/title/tt0363226/',
 '/title/tt4129428/',
 '/title/tt4744086/',
 '/title/tt1499201/',
 '/title/tt0948535/',
 '/title/tt0887259/',
 '/title/tt7279188/',
 '/title/tt3966404/',
 '/title/tt7830888/',
 '/title/tt0387914/',
 '/title/tt0346723/',
 '/title/tt0344604/',
 '/title/tt10773090/',
 '/title/tt8359848/',
 '/title/tt2339505/',
 '/title/tt6675244/',
 '/title/tt0390614/',
 '/title/tt3679060/',
 '/title/tt0857355/',
 '/title/tt1436045/',
 '/title/tt3825638/',
 '/title/tt0290673/',
 '/title/tt7147540/',
 '/title/tt0805184/',
 '/title/tt5215952/',
 '/title/tt0437526/',
 '/title/tt2354407/',
 '/title/tt5596352/',
 '/title/tt7255568/',
 '/title/tt3890264/',
 '/title/tt2077833/',
 '/title/tt5501104/',
 '/title/tt1447508/',
 '/title/tt0256009/',
 '/title/tt1230448/',
 '/title/tt0375611/',
 '/title/tt1185442/',
 '/title/tt8404272/',
 '/title/tt6074202/',
 '/title/tt0880502/',
 '/title/tt0157122/',
 '/title/tt2275802/',
 '/title/tt0298131/',
 '/title/tt3175038/',
 '/title/tt1627924/',
 '/title/tt0243255/',
 '/title/tt2707858/',
 '/title/tt9081562/',
 '/title/tt8366590/',
 '/title/tt1805297/',
 '/title/tt7282468/',
 '/title/tt1324059/',
 '/title/tt1674773/',
 '/title/tt3554418/',
 '/title/tt4591310/',
 '/title/tt1545759/',
 '/title/tt1442519/',
 '/title/tt1653911/',
 '/title/tt0364569/',
 '/title/tt2556308/',
 '/title/tt6170484/',
 '/title/tt7250056/',
 '/title/tt1182972/',
 '/title/tt6246170/',
 '/title/tt1395025/',
 '/title/tt0976026/',
 '/title/tt0833476/',
 '/title/tt2936884/',
 '/title/tt6971752/',
 '/title/tt0459880/',
 '/title/tt3401392/',
 '/title/tt2330866/',
 '/title/tt0408664/',
 '/title/tt0426578/',
 '/title/tt1277728/',
 '/title/tt0985636/',
 '/title/tt0365190/',
 '/title/tt0254481/',
 '/title/tt2172071/',
 '/title/tt0417976/',
 '/title/tt1455151/',
 '/title/tt0291032/',
 '/title/tt2357377/',
 '/title/tt1320082/',
 '/title/tt1114725/',
 '/title/tt0456396/',
 '/title/tt1848771/',
 '/title/tt0456481/',
 '/title/tt3173910/',
 '/title/tt0299478/',
 '/title/tt1202540/',
 '/title/tt2076220/',
 '/title/tt1428459/',
 '/title/tt0796335/',
 '/title/tt3508840/',
 '/title/tt0425637/',
 '/title/tt0292542/',
 '/title/tt0490234/',
 '/title/tt3001638/',
 '/title/tt6896536/',
 '/title/tt0284363/',
 '/title/tt3142688/',
 '/title/tt3802576/',
 '/title/tt2106476/',
 '/title/tt1508675/',
 '/title/tt0961066/',
 '/title/tt9614460/',
 '/title/tt0473367/',
 '/title/tt5348236/',
 '/title/tt1139800/',
 '/title/tt1949548/',
 '/title/tt5735464/',
 '/title/tt0388395/',
 '/title/tt8983166/',
 '/title/tt1433810/',
 '/title/tt1187044/',
 '/title/tt1105747/',
 '/title/tt1172963/',
 '/title/tt4284020/',
 '/title/tt5910280/',
 '/title/tt5474036/',
 '/title/tt6304162/',
 '/title/tt1618430/',
 '/title/tt2268732/',
 '/title/tt5112622/',
 '/title/tt0351817/',
 '/title/tt3404140/',
 '/title/tt0450450/',
 '/title/tt0827517/',
 '/title/tt1259014/',
 '/title/tt2317337/',
 '/title/tt1456472/',
 '/title/tt0399738/',
 '/title/tt1728239/',
 '/title/tt0352343/',
 '/title/tt0795441/',
 '/title/tt1455811/',
 '/title/tt4914580/',
 '/title/tt1459012/',
 '/title/tt0920473/',
 '/title/tt2424988/',
 '/title/tt1772424/',
 '/title/tt2980794/',
 '/title/tt4399594/',
 '/title/tt1527788/',
 '/title/tt6317962/',
 '/title/tt6864046/',
 '/title/tt8185182/',
 '/title/tt1422032/',
 '/title/tt3008014/',
 '/title/tt1646974/',
 '/title/tt0325655/',
 '/title/tt7037566/',
 '/title/tt6386748/',
 '/title/tt0378906/',
 '/title/tt4428788/',
 '/title/tt1465487/',
 '/title/tt8290698/',
 '/title/tt1828995/',
 '/title/tt5108476/',
 '/title/tt0295721/',
 '/title/tt1740710/',
 '/title/tt8869978/',
 '/title/tt1105733/',
 '/title/tt3469244/',
 '/title/tt0286112/',
 '/title/tt1182908/',
 '/title/tt6138688/',
 '/title/tt0485522/',
 '/title/tt0986213/',
 '/title/tt0329111/',
 '/title/tt4074958/',
 '/title/tt1082009/',
 '/title/tt0765432/',
 '/title/tt0991346/',
 '/title/tt5606538/',
 '/title/tt1060249/',
 '/title/tt5290882/',
 '/title/tt6931414/',
 '/title/tt2071620/',
 '/title/tt6461514/',
 '/title/tt5502766/',
 '/title/tt3756788/',
 '/title/tt0291538/',
 '/title/tt6175078/',
 '/title/tt1720254/',
 '/title/tt4572856/',
 '/title/tt0826711/',
 '/title/tt1123373/',
 '/title/tt2625030/',
 '/title/tt0409904/',
 '/title/tt0279065/',
 '/title/tt4494382/',
 '/title/tt3685218/',
 '/title/tt1734110/',
 '/title/tt5918090/',
 '/title/tt0347048/',
 '/title/tt0995850/',
 '/title/tt3841424/',
 '/title/tt2122340/',
 '/title/tt3906444/',
 '/title/tt2707848/',
 '/title/tt3505950/',
 '/title/tt8647400/',
 '/title/tt5251328/',
 '/title/tt7298400/',
 '/title/tt0395125/',
 '/title/tt1847746/',
 '/title/tt3485166/',
 '/title/tt2216240/',
 '/title/tt2476154/',
 '/title/tt5091612/',
 '/title/tt2615584/',
 '/title/tt0901485/',
 '/title/tt5586052/',
 '/title/tt6062774/',
 '/title/tt1156143/',
 '/title/tt2400275/',
 '/title/tt7690638/',
 '/title/tt1964624/',
 '/title/tt0386342/',
 '/title/tt4623812/',
 '/title/tt1473063/',
 '/title/tt0423310/',
 '/title/tt3678938/',
 '/title/tt2166214/',
 '/title/tt5226984/',
 '/title/tt3125472/',
 '/title/tt3742378/',
 '/title/tt2992152/',
 '/title/tt2301155/',
 '/title/tt1483831/',
 '/title/tt7095654/',
 '/title/tt1191138/',
 '/title/tt4217392/',
 '/title/tt1287878/',
 '/title/tt0886539/',
 '/title/tt2852406/',
 '/title/tt5764024/',
 '/title/tt1599975/',
 '/title/tt5472758/',
 '/title/tt0976060/',
 '/title/tt7201846/',
 '/title/tt1948150/',
 '/title/tt5477608/',
 '/title/tt1235830/',
 '/title/tt4819576/',
 '/title/tt1084972/',
 '/title/tt2315152/',
 '/title/tt1911553/',
 '/title/tt2275794/',
 '/title/tt0807721/',
 '/title/tt1186369/',
 '/title/tt1937118/',
 '/title/tt0330702/',
 '/title/tt0464160/',
 '/title/tt2331143/',
 '/title/tt0374345/',
 '/title/tt0435479/',
 '/title/tt9193612/',
 '/title/tt4814290/',
 '/title/tt6588966/',
 '/title/tt0288330/',
 '/title/tt5980232/',
 '/title/tt10017680/',
 '/title/tt0409184/',
 '/title/tt0364385/',
 '/title/tt2852458/',
 '/title/tt0870090/',
 '/title/tt3836958/',
 '/title/tt0444182/',
 '/title/tt0762073/',
 '/title/tt1813327/',
 '/title/tt2289538/',
 '/title/tt0279064/',
 '/title/tt3017412/',
 '/title/tt2113822/',
 '/title/tt7339584/',
 '/title/tt1606382/',
 '/title/tt4412218/',
 '/title/tt2321405/',
 '/title/tt2202471/',
 '/title/tt2261434/',
 '/title/tt0300270/',
 '/title/tt1135952/',
 '/title/tt0464913/',
 '/title/tt2027140/',
 '/title/tt0770214/',
 '/title/tt0962774/',
 '/title/tt5304464/',
 '/title/tt0331851/',
 '/title/tt0486615/',
 '/title/tt6692354/',
 '/title/tt10295602/',
 '/title/tt0366287/',
 '/title/tt7736478/',
 '/title/tt7463730/',
 '/title/tt4135844/',
 '/title/tt1035730/',
 '/title/tt2301592/',
 '/title/tt0344273/',
 '/title/tt10218674/',
 '/title/tt0811066/',
 '/title/tt4193400/',
 '/title/tt4819514/',
 '/title/tt5221584/',
 '/title/tt7521990/',
 '/title/tt1431122/',
 '/title/tt0347167/',
 '/title/tt1754795/',
 '/title/tt0376177/',
 '/title/tt0466399/',
 '/title/tt3170902/',
 '/title/tt2844798/',
 '/title/tt2972482/',
 '/title/tt1854513/',
 '/title/tt0938341/',
 '/title/tt2929890/',
 '/title/tt1244668/',
 '/title/tt0296915/',
 '/title/tt0411272/',
 '/title/tt1176960/',
 '/title/tt2762334/',
 '/title/tt0346336/',
 '/title/tt1830786/',
 '/title/tt5294966/',
 '/title/tt2344678/',
 '/title/tt1629376/',
 '/title/tt0079944/',
 '/title/tt0314170/',
 '/title/tt0864770/',
 '/title/tt6869538/',
 '/title/tt4082068/',
 '/title/tt1173745/',
 '/title/tt1242530/',
 '/title/tt5247704/',
 '/title/tt5078354/',
 '/title/tt0403935/',
 '/title/tt2238839/',
 '/title/tt0846040/',
 '/title/tt3230082/',
 '/title/tt1663321/',
 '/title/tt1740707/',
 '/title/tt7160176/',
 '/title/tt0437447/',
 '/title/tt3402110/',
 '/title/tt2025526/',
 '/title/tt5742874/',
 '/title/tt7720922/',
 '/title/tt0407342/',
 '/title/tt0422091/',
 '/title/tt0401488/',
 '/title/tt0428856/',
 '/title/tt0308476/',
 '/title/tt0459293/',
 '/title/tt1982113/',
 '/title/tt7243686/',
 '/title/tt0423866/',
 '/title/tt1023490/',
 '/title/tt0303243/',
 '/title/tt1843287/',
 '/title/tt0373981/',
 '/title/tt8550208/',
 '/title/tt3398048/',
 '/title/tt4344878/',
 '/title/tt1925421/',
 '/title/tt1329457/',
 '/title/tt3129564/',
 '/title/tt1706317/',
 '/title/tt3950078/',
 '/title/tt0323807/',
 '/title/tt2437954/',
 '/title/tt0369637/',
 '/title/tt3689910/',
 '/title/tt2321163/',
 '/title/tt7046974/',
 '/title/tt2063011/',
 '/title/tt5465370/',
 '/title/tt0823451/',
 '/title/tt3404158/',
 '/title/tt4687848/',
 '/title/tt2094877/',
 '/title/tt0431979/',
 '/title/tt5866930/',
 '/title/tt10208198/',
 '/title/tt11177804/',
 '/title/tt1343362/',
 '/title/tt1981080/',
 '/title/tt0451094/',
 '/title/tt1661420/',
 '/title/tt2909116/',
 '/title/tt0487503/',
 '/title/tt7262882/',
 '/title/tt1183672/',
 '/title/tt0940709/',
 '/title/tt6742252/',
 '/title/tt1440232/',
 '/title/tt7016254/',
 '/title/tt1291652/',
 '/title/tt1386932/',
 '/title/tt0476805/',
 '/title/tt1956697/',
 '/title/tt5595240/',
 '/title/tt7233726/',
 '/title/tt1002765/',
 '/title/tt2246724/',
 '/title/tt0473753/',
 '/title/tt2915160/',
 '/title/tt4411504/',
 '/title/tt3409848/',
 '/title/tt0356453/',
 '/title/tt6330052/',
 '/title/tt1532957/',
 '/title/tt1174041/',
 '/title/tt0367082/',
 '/title/tt10279010/',
 '/title/tt0269746/',
 '/title/tt2008006/',
 '/title/tt0964516/',
 '/title/tt2935564/',
 '/title/tt1428556/',
 '/title/tt0366137/',
 '/title/tt0329485/',
 '/title/tt0453047/',
 '/title/tt4440036/',
 '/title/tt0343663/',
 '/title/tt0478829/',
 '/title/tt6466464/',
 '/title/tt7743588/',
 '/title/tt5897636/',
 '/title/tt7339826/',
 '/title/tt4505170/',
 '/title/tt0267129/',
 '/title/tt1588895/',
 '/title/tt0300140/',
 '/title/tt5222918/',
 '/title/tt0240149/',
 '/title/tt0322289/',
 '/title/tt7919680/',
 '/title/tt5481184/',
 '/title/tt9078374/',
 '/title/tt2364975/',
 '/title/tt0499537/',
 '/title/tt2070776/',
 '/title/tt7022500/',
 '/title/tt5938084/',
 '/title/tt1776196/',
 '/title/tt2130242/',
 '/title/tt1100048/',
 '/title/tt3616916/',
 '/title/tt6213362/',
 '/title/tt1518814/',
 '/title/tt8484942/',
 '/title/tt1587729/',
 '/title/tt1315962/',
 '/title/tt5918028/',
 '/title/tt0408777/',
 '/title/tt2024519/',
 '/title/tt0109688/',
 '/title/tt3163304/',
 '/title/tt3511542/',
 '/title/tt1686784/',
 '/title/tt0338564/',
 '/title/tt0150662/',
 '/title/tt1918886/',
 '/title/tt1392744/',
 '/title/tt0792966/',
 '/title/tt6927152/',
 '/title/tt6367558/',
 '/title/tt1087578/',
 '/title/tt10726604/',
 '/title/tt2369154/',
 '/title/tt0845448/',
 '/title/tt3585004/',
 '/title/tt4383288/',
 '/title/tt2717558/',
 '/title/tt4430992/',
 '/title/tt1556190/',
 '/title/tt0476550/',
 '/title/tt1440180/',
 '/title/tt1708135/',
 '/title/tt2011183/',
 '/title/tt2822742/',
 '/title/tt0436854/',
 '/title/tt2465578/',
 '/title/tt1533818/',
 '/title/tt1314652/',
 '/title/tt1549589/',
 '/title/tt0476643/',
 '/title/tt0295743/',
 '/title/tt0380538/',
 '/title/tt2062969/',
 '/title/tt2876428/',
 '/title/tt1583737/',
 '/title/tt1365048/',
 '/title/tt1646975/',
 '/title/tt1827487/',
 '/title/tt0494271/',
 '/title/tt0459666/',
 '/title/tt1821593/',
 '/title/tt3399024/',
 '/title/tt2062645/',
 '/title/tt1699513/',
 '/title/tt1375669/',
 '/title/tt1745787/',
 '/title/tt4630550/',
 '/title/tt1954701/',
 '/title/tt0800956/',
 '/title/tt1242782/',
 '/title/tt3296658/',
 '/title/tt1638353/',
 '/title/tt6217664/',
 '/title/tt2821880/',
 '/title/tt0920458/',
 '/title/tt0407246/',
 '/title/tt6304046/',
 '/title/tt1650453/',
 '/title/tt0250258/',
 '/title/tt0384369/',
 '/title/tt2186933/',
 '/title/tt0386651/',
 '/title/tt0354243/',
 '/title/tt0432325/',
 '/title/tt0428430/',
 '/title/tt0494640/',
 '/title/tt0256259/',
 '/title/tt1772872/',
 '/title/tt0475750/',
 '/title/tt1815799/',
 '/title/tt3419894/',
 '/title/tt2007993/',
 '/title/tt1206483/',
 '/title/tt4415016/',
 '/title/tt1772230/',
 '/title/tt0498120/',
 '/title/tt1646111/',
 '/title/tt2828840/',
 '/title/tt0401248/',
 '/title/tt0860906/',
 '/title/tt0235198/',
 '/title/tt9629026/',
 '/title/tt0456899/',
 '/title/tt0046022/',
 '/title/tt1847731/',
 '/title/tt2952602/',
 '/title/tt0420260/',
 '/title/tt1588170/',
 '/title/tt1056422/',
 '/title/tt0913968/',
 '/title/tt8304386/',
 '/title/tt0354356/',
 '/title/tt1034427/',
 '/title/tt2165735/',
 '/title/tt1990217/',
 '/title/tt3792960/',
 '/title/tt0318725/',
 '/title/tt1650407/',
 '/title/tt1699518/',
 '/title/tt6135348/',
 '/title/tt0488478/',
 '/title/tt2258281/',
 '/title/tt4298958/',
 '/title/tt1667150/',
 '/title/tt0308671/',
 '/title/tt3830162/',
 '/title/tt6814080/',
 '/title/tt7509586/',
 '/title/tt1124052/',

In [13]:
def get_movie_value(soup, field_name):
    
    '''Grab a value from Box Office Mojo HTML
    
    Takes a string attribute of a movie on the page and returns the string in
    the next sibling object (the value for that attribute) or None if nothing is found.
    '''
    
    obj = soup.find(text=re.compile(field_name))
    
    if not obj: 
        return None
    
    # this works for most of the values
    next_element = obj.findNext()
    
    if next_element:
        return next_element.text 
    else:
        return None

In [14]:
def get_movie_dict(link):
    base_url = 'https://www.imdb.com'
    
    #Create full url to scrape
    url = base_url + link
    
    #Request HTML and parse
    for i in range(5): 
        try:
            response = requests.get(url)
        except:
            time.sleep(10) 
            continue
        else:
            break
    page = response.text
    soup = BeautifulSoup(page,"lxml")
    
    headers = ['link_stub', 'language', 'budget']
    
    try:
        language = get_movie_value(soup, 'Language:')
    except:
        language = None 
    
    try:
        first = soup.find(text=re.compile('Budget:'))
        next_element = first.findNext()
        raw_budget = next_element.previous
        budget = raw_budget.split('\n')[0]
    except: 
        budget = None 
        
    #Create movie dictionary and return
    movie_dict = dict(zip(headers, [link, language, budget]))

    return movie_dict

In [15]:
fl_movies_imdb_list = [] #saving the info to a dictionary OUTSIDE the function

for link in new_link_stubs:
    fl_movies_imdb_list.append(get_movie_dict(link))
    
fl_movies_imdb = pd.DataFrame(fl_movies_imdb_list)  #converting list of dict to df
fl_movies_imdb.set_index('link_stub', inplace=True) 

import pickle #immediately pickling dataframe
fl_movies_imdb.to_pickle('fl_movies_imdb.pickle')

In [16]:
fl_movies_imdb['budget'].isna().sum()

1081

In [22]:
fl_movies_imdb.shape

(1659, 2)

In [19]:
fl_movies_imdb.tail(10)

                  language        budget
link_stub
/title/tt4948452/   French  EUR5,831,000
/title/tt2167715/    Dutch          None
/title/tt1289783/   French          None
/title/tt2361110/   French          None
/title/tt4428762/   French          None
/title/tt1503777/   French          None
/title/tt0312358/   German          None
/title/tt5091538/   French          None
/title/tt0821462/   Korean    $2,000,000
/title/tt5038358/   French  EUR6,300,000

In [2]:
earliestrelease_notdomestic_movies = pd.read_pickle('earliestrelease_notdomestic_movies.pickle')

In [3]:
fl_movies_imdb = pd.read_pickle('fl_movies_imdb.pickle')

In [4]:
earliestrelease_notdomestic_movies.shape

(1659, 20)

In [5]:
earliestrelease_notdomestic_movies['link_stub'] = earliestrelease_notdomestic_movies['link_stub'].apply(lambda x: x.split('?')[0])  
earliestrelease_notdomestic_movies.head(2)

,link_stub,gross_rank,lifetime_gross,max_theaters,domestic_opening,num_opening_theaters,release_date,domestic_distributor,domestic_total_gross,international_total_gross,budget,earliest_release_location,rating,runtime,genres,original_release_markets_num,crew,cast,earliest_release_location_opening_gross,earliest_release_location_original_gross
Hero,/title/tt0299977/,3.0,53710019.0,2175.0,17800000.0,2031.0,2004-08-27,Miramax,53710019.0,123685538.0,31000000.0,"APAC, China",PG-13,NaN,Action Adventure History,None,"Yimou Zhang Director, Feng Li Writer, Yimou Zh...","Jet Li, Tony Chiu-Wai Leung, Maggie Cheung, Zi...",17800000.0,53710019.0
Parasite,/title/tt6751668/,4.0,53369749.0,2001.0,393216.0,3.0,2019-10-11,Neon,53369749.0,205484917.0,11400000.0,South Korea,R,132.0,Comedy Drama Thriller,34,"Bong Joon Ho Director, Bong Joon Ho Writer, Bo...","Kang-ho Song, Sun-kyun Lee, Yeo-jeong Cho, Woo...",393216.0,53369749.0

In [6]:
earliestrelease_notdomestic_movies.reset_index(inplace=True)

In [7]:
earliestrelease_notdomestic_movies.rename(columns={"index": "title"}, inplace=True)

In [8]:
fl_movies_wbudget = earliestrelease_notdomestic_movies.merge(fl_movies_imdb, how="outer", on='link_stub')
fl_movies_wbudget.head()

,title,link_stub,gross_rank,lifetime_gross,max_theaters,domestic_opening,num_opening_theaters,release_date,domestic_distributor,domestic_total_gross,...,rating,runtime,genres,original_release_markets_num,crew,cast,earliest_release_location_opening_gross,earliest_release_location_original_gross,language,budget_y
0,Hero,/title/tt0299977/,3.0,53710019.0,2175.0,17800000.0,2031.0,2004-08-27,Miramax,53710019.0,...,PG-13,NaN,Action Adventure History,None,"Yimou Zhang Director, Feng Li Writer, Yimou Zh...","Jet Li, Tony Chiu-Wai Leung, Maggie Cheung, Zi...",17800000.0,53710019.0,Mandarin,"$31,000,000"
1,Parasite,/title/tt6751668/,4.0,53369749.0,2001.0,393216.0,3.0,2019-10-11,Neon,53369749.0,...,R,132.0,Comedy Drama Thriller,34,"Bong Joon Ho Director, Bong Joon Ho Writer, Bo...","Kang-ho Song, Sun-kyun Lee, Yeo-jeong Cho, Woo...",393216.0,53369749.0,Korean,"$11,400,000"
2,Pan's Labyrinth,/title/tt0457430/,6.0,37634615.0,1143.0,568641.0,17.0,2006-12-29,Picturehouse,37634615.0,...,R,118.0,Drama Fantasy War,None,"Guillermo del Toro Director, Guillermo del Tor...","Ivana Baquero, Ariadna Gil, Sergi L√≥pez, Marib...",568641.0,37634615.0,Spanish,"$19,000,000"
3,Am√©lie,/title/tt0211915/,7.0,33225499.0,303.0,136470.0,3.0,2001-11-02,Miramax,33225499.0,...,R,122.0,Comedy Romance,20,"Jean-Pierre Jeunet Director, Guillaume Laurant...","Audrey Tautou, Mathieu Kassovitz, Rufus, Lorel...",136470.0,33225499.0,French,"$10,000,000"
4,Fearless,/title/tt0446059/,8.0,24633730.0,1810.0,10564000.0,1806.0,2006-09-22,Rogue Pictures,24633730.0,...,PG-13,104.0,Action Biography Drama Sport,None,"Ronny Yu Director, Chris Chow Writer, Richard ...","Jet Li, Li Sun, Yong Dong, Yun Qu",10564000.0,24633730.0,Mandarin,None

In [9]:
fl_movies_wbudget['budget_y'].isna().sum()

1081

In [10]:
fl_movies_wbudget.drop(columns=["budget_x", "rating", "original_release_markets_num"], inplace=True)

In [11]:
fl_movies_wbudget.drop(columns=["link_stub", "gross_rank"], inplace=True)

In [12]:
fl_movies_wbudget.domestic_distributor.fillna('Missing', inplace=True)

In [13]:
fl_movies_wbudget.crew.fillna('Missing', inplace=True)
fl_movies_wbudget.cast.fillna('Missing', inplace=True)

In [14]:
fl_movies_wbudget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1659 entries, 0 to 1658
Data columns (total 18 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   title                                     1659 non-null   object
 1   lifetime_gross                            1659 non-null   float64
 2   max_theaters                              1651 non-null   float64
 3   domestic_opening                          1591 non-null   float64
 4   num_opening_theaters                      1593 non-null   float64
 5   release_date                              1659 non-null   datetime64[ns]
 6   domestic_distributor                      1659 non-null   object
 7   domestic_total_gross                      1659 non-null   float64
 8   international_total_gross                 1659 non-null   float64
 9   earliest_release_location                 1659 non-null   object
 10  runtime                                   1612 non-null   float64
 11  genres                                    1659 non-null   object
 12  crew                                      1659 non-null   object
 13  cast                                      1659 non-null   object
 14  earliest_release_location_opening_gross   1524 non-null   float64
 15  earliest_release_location_original_gross  1653 non-null   float64
 16  language                                  1657 non-null   object
 17  budget_y                                  578 non-null    object
dtypes: datetime64[ns](1), float64(9), object(8)
memory usage: 246.3+ KB

In [15]:
fl_movies_wbudget.rename(columns={"budget_y": "budget"}, inplace=True)

In [16]:
fl_movies_wbudget['budget'][0]

'$31,000,000'

In [17]:
currency = []
for budget in fl_movies_wbudget['budget']:
    if budget == None:
        currency.append(None)
    elif budget[0:1] == '$':
        currency.append('USD')
    else:
        currency.append(budget[0:3])
currency

['USD',
 'USD',
 'USD',
 'USD',
 None,
 'INR',
 'USD',
 None,
 'INR',
 'USD',
 'EUR',
 'THB',
 None,
 'USD',
 'USD',
 'CNY',
 None,
 'USD',
 'EUR',
 'USD',
 'USD',
 None,
 'USD',
 None,
 'USD',
 'EUR',
 'EUR',
 'BRL',
 'EUR',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'EUR',
 'EUR',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'USD',
 'EUR',
 'EUR',
 None,
 None,
 'USD',
 'EUR',
 'INR',
 None,
 'JPY',
 'USD',
 'EUR',
 'USD',
 'USD',
 'EUR',
 None,
 None,
 'USD',
 'USD',
 None,
 'USD',
 'INR',
 None,
 None,
 'INR',
 'USD',
 'EUR',
 'USD',
 'EUR',
 None,
 None,
 None,
 None,
 None,
 None,
 'EUR',
 None,
 'EUR',
 None,
 None,
 'INR',
 None,
 'INR',
 'USD',
 'FRF',
 'EUR',
 None,
 None,
 'USD',
 'FRF',
 'INR',
 'USD',
 'EUR',
 None,
 None,
 'USD',
 'USD',
 'INR',
 'USD',
 'EUR',
 'EUR',
 None,
 None,
 'INR',
 None,
 None,
 'INR',
 'USD',
 None,
 'USD',
 None,
 'EUR',
 'USD',
 None,
 'USD',
 None,
 None,
 None,
 'INR',
 None,
 None,
 None,
 None,
 None,
 None,
 'USD',
 None,
 'EUR',
 None,
 None,
 None,
 'USD',
 None,
 None,
 None,
 'USD',
 'INR',
 'KRW',
 'EUR',
 'INR',
 None,
 'EUR',
 'AUD',
 None,
 'KRW',
 None,
 None,
 None,
 'USD',
 'EUR',
 'INR',
 'USD',
 'EUR',
 'INR',
 'USD',
 'EUR',
 'EUR',
 None,
 None,
 None,
 'KRW',
 None,
 None,
 'EUR',
 None,
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'INR',
 'EUR',
 None,
 None,
 None,
 None,
 None,
 None,
 'USD',
 'EUR',
 None,
 None,
 None,
 None,
 'EUR',
 None,
 None,
 None,
 None,
 None,
 None,
 'USD',
 None,
 None,
 None,
 'USD',
 'USD',
 'USD',
 None,
 None,
 'EUR',
 'EUR',
 'FRF',
 None,
 'USD',
 'USD',
 'USD',
 'USD',
 None,
 'EUR',
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 None,
 'EUR',
 'EUR',
 None,
 None,
 None,
 None,
 None,
 None,
 'USD',
 'USD',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'USD',
 None,
 'USD',
 'INR',
 None,
 None,
 None,
 'USD',
 'INR',
 None,
 'USD',
 None,
 None,
 'INR',
 None,
 'EUR',
 'USD',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'FRF',
 None,
 'USD',
 None,
 None,
 None,
 'GBP',
 None,
 None,
 'EUR',
 'EUR',
 'INR',
 None,
 None,
 'EUR',
 'EUR',
 None,
 None,
 None,
 None,
 'SEK',
 None,
 'EUR',
 None,
 None,
 'BRL',
 'USD',
 'USD',
 None,
 None,
 'EUR',
 'ATS',
 None,
 None,
 'USD',
 None,
 'USD',
 None,
 'EUR',
 'USD',
 None,
 'USD',
 None,
 'USD',
 'INR',
 'EUR',
 None,
 'INR',
 'INR',
 'SEK',
 'INR',
 None,
 None,
 None,
 'FIM',
 None,
 None,
 None,
 'USD',
 'INR',
 'INR',
 None,
 None,
 'EUR',
 None,
 None,
 None,
 'USD',
 None,
 None,
 'USD',
 'MXN',
 None,
 None,
 None,
 None,
 None,
 'USD',
 'EUR',
 'EUR',
 None,
 None,
 'INR',
 None,
 None,
 'EUR',
 None,
 None,
 None,
 None,
 'BRL',
 'USD',
 None,
 None,
 'USD',
 None,
 'USD',
 'USD',
 None,
 None,
 'INR',
 None,
 'INR',
 None,
 None,
 'USD',
 None,
 'INR',
 'USD',
 None,
 'CNY',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '',
 None,
 'INR',
 'EUR',
 None,
 None,
 None,
 None,
 'USD',
 'USD',
 None,
 'USD',
 'USD',
 'INR',
 None,
 None,
 'INR',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'EUR',
 None,
 None,
 'INR',
 None,
 'HKD',
 None,
 None,
 'USD',
 None,
 'INR',
 None,
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 'EUR',
 'USD',
 'CNY',
 None,
 None,
 None,
 None,
 'CZK',
 'INR',
 'USD',
 'USD',
 'EUR',
 'EUR',
 None,
 'INR',
 'EUR',
 None,
 None,
 None,
 None,
 None,
 'INR',
 'USD',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'USD',
 'USD',
 None,
 'NOK',
 None,
 None,
 'EUR',
 None,
 'INR',
 None,
 'EUR',
 None,
 'USD',
 None,
 None,
 None,
 'USD',
 None,
 'USD',
 None,
 None,
 'CNY',
 'CNY',
 None,
 None,
 'USD',
 'SGD',
 None,
 None,
 'USD',
 None,
 'EUR',
 'KRW',
 'EUR',
 None,
 'USD',
 None,
 None,
 None,
 'USD',
 'USD',
 None,
 None,
 None,
 None,
 None,
 None,
 'EUR',
 'EUR',
 None,
 None,
 'USD',
 None,
 'KRW',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'EUR',
 'USD',
 None,
 'USD',
 None,
 'USD',
 None,
 'INR',
 None,
 None,
 None,
 'DKK',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'EUR',
 'USD',
 None,
 'DKK',
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 None,
 'INR',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'EUR',
 None,
 'BRL',
 None,
 'INR',
 None,
 None,
 'INR',
 'USD',
 'KRW',
 None,
 'USD',
 None,
 None,
 None,
 None,
 'EUR',
 None,
 None,
 'EUR',
 None,
 'INR',
 None,
 None,
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 'EUR',
 None,
 None,
 None,
 'USD',
 None,
 'USD',
 None,
 'USD',
 'USD',
 None,
 None,
 None,
 'EUR',
 'USD',
 None,
 None,
 'NOK',
 None,
 'USD',
 None,
 None,
 None,
 'EUR',
 'USD',
 None,
 'USD',
 None,
 'EUR',
 'EUR',
 None,
 None,
 'USD',
 None,
 'INR',
 'INR',
 None,
 None,
 None,
 None,
 None,
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 'BRL',
 None,
 None,
 'INR',
 None,
 None,
 'AUD',
 None,
 'HUF',
 None,
 None,
 'USD',
 'EUR',
 'EUR',
 None,
 'EUR',
 None,
 None,
 None,
 None,
 None,
 'USD',
 'USD',
 'RUR',
 'EUR',
 None,
 None,
 None,
 None,
 None,
 'EUR',
 None,
 'INR',
 None,
 'EUR',
 None,
 'EUR',
 'NOK',
 None,
 'USD',
 None,
 None,
 'INR',
 None,
 None,
 'INR',
 'CZK',
 None,
 'USD',
 None,
 None,
 None,
 'USD',
 'EUR',
 'USD',
 None,
 'HUF',
 None,
 None,
 None,
 None,
 'EUR',
 None,
 'INR',
 None,
 'EUR',
 'INR',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'KRW',
 None,
 'USD',
 None,
 None,
 'USD',
 None,
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 'INR',
 None,
 None,
 None,
 'EUR',
 None,
 None,
 None,
 'USD',
 None,
 'INR',
 None,
 'HUF',
 None,
 None,
 'CNY',
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 None,
 'USD',
 'USD',
 None,
 'EUR',
 None,
 None,
 'USD',
 None,
 None,
 'EUR',
 'FRF',
 None,
 'INR',
 'HKD',
 None,
 None,
 'USD',
 'EUR',
 None,
 None,
 None,
 None,
 None,
 'EUR',
 'EUR',
 None,
 None,
 'USD',
 'USD',
 None,
 None,
 None,
 'HKD',
 None,
 None,
 'USD',
 'USD',
 'SEK',
 None,
 None,
 None,
 None,
 'EUR',
 None,
 None,
 'INR',
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 'EUR',
 None,
 None,
 None,
 'EUR',
 'EUR',
 None,
 None,
 'EUR',
 'USD',
 None,
 'MXN',
 None,
 'USD',
 None,
 'USD',
 None,
 None,
 'EUR',
 None,
 'EUR',
 'USD',
 'USD',
 None,
 None,
 None,
 None,
 'EUR',
 None,
 None,
 'EUR',
 None,
 None,
 None,
 'DKK',
 None,
 'NOK',
 None,
 None,
 None,
 None,
 'CNY',
 None,
 'EUR',
 None,
 None,
 None,
 None,
 None,
 'USD',
 None,
 'USD',
 'USD',
 None,
 'USD',
 'EUR',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'EUR',
 'USD',
 None,
 None,
 None,
 'USD',
 None,
 'EUR',
 None,
 'CNY',
 None,
 'EUR',
 None,
 'NOK',
 'EUR',
 'EUR',
 'USD',
 None,
 'JPY',
 'USD',
 'USD',
 None,
 None,
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 'FRF',
 None,
 None,
 'EUR',
 None,
 'EUR',
 None,
 'USD',
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 None,
 'USD',
 'EUR',
 None,
 None,
 'EUR',
 None,
 'EUR',
 None,
 None,
 None,
 'EUR',
 None,
 None,
 None,
 None,
 'EUR',
 None,
 None,
 'EUR',
 None,
 None,
 None,
 'EUR',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'THB',
 None,
 'USD',
 None,
 None,
 None,
 None,
 None,
 None,
 'EUR',
 None,
 None,
 None,
 None,
 None,
 None,
 'USD',
 None,
 None,
 None,
 'EUR',
 'EUR',
 None,
 'EUR',
 None,
 None,
 None,
 None,
 'EUR',
 'EUR',
 'EUR',
 None,
 None,
 None,
 None,
 'USD',
 None,
 ...]

In [18]:
fl_movies_wbudget['currency'] = currency

In [19]:
budget_new = []
for budget in fl_movies_wbudget['budget']:
    if budget == None:
        budget_new.append(None)
    elif budget[0:1] == '$':
        budget_new.append(budget[1:])
    else:
        budget_new.append(budget[3:])

In [20]:
budget_new

['31,000,000',
 '11,400,000',
 '19,000,000',
 '10,000,000',
 None,
 '2,500,000,000',
 '20,000,000',
 None,
 '7,000,000',
 '2,000,000',
 '7,450,000',
 '200,000,000',
 None,
 '2,000,000',
 '29,000,000',
 '100,000,000',
 None,
 '25,000,000',
 '9,500,000',
 '13,000,000',
 '19,000,000',
 None,
 '5,300,000',
 None,
 '14,000,000',
 '10,000,000',
 '4,000,000',
 '3,300,000',
 '3,400,000',
 '500,000',
 '8,900,000',
 '38,600,000',
 '45,000,000',
 '56,600,000',
 '2,000,000',
 '13,430,000',
 '7,000,000',
 '11,700,000',
 '23,000,000',
 '48,000,000',
 '1,800,000',
 '18,000,000',
 '12,000,000',
 '20,470,000',
 '13,500,000',
 '4,200,000',
 None,
 None,
 '5,000,000',
 '4,000,000',
 '1,390,000,000',
 None,
 '370,000,000',
 '18,000,000',
 '3,600,000',
 '21,000,000',
 '15,000,000',
 '4,300,000',
 None,
 None,
 '1,000,000',
 '21,000,000',
 None,
 '1,000,000',
 '450,000,000',
 None,
 None,
 '5,420,000,000',
 '1,100,000',
 '4,800,000',
 '12,000,000',
 '4,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '2,200,000',
 None,
 '8,000,000',
 None,
 None,
 '400,000,000',
 None,
 '700,000,000',
 '60,720,000',
 '100,000,000',
 '10,000,000',
 None,
 None,
 '3,000,000',
 '327,000,000',
 '550,000,000',
 '3,300,000',
 '8,000,000',
 None,
 None,
 '3,300,000',
 '3,000,000',
 '3,500,000,000',
 '7,395,080',
 '9,200,000',
 '5,300,000',
 None,
 None,
 '300,000,000',
 None,
 None,
 '1,500,000,000',
 '30,100,000',
 None,
 '36,000,000',
 None,
 '10,000,000',
 '4,500,000',
 None,
 '9,500,000',
 None,
 None,
 None,
 '450,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '20,000,000',
 None,
 '9,000,000',
 None,
 None,
 None,
 '1,500,000',
 None,
 None,
 None,
 '18,000,000',
 '120,000,000',
 '12,215,500,000',
 '4,000,000',
 '1,150,000,000',
 None,
 '11,700,000',
 '1,000,000',
 None,
 '10,000,000,000',
 None,
 None,
 None,
 '5,300,000',
 '10,000,000',
 '150,000,000',
 '13,000,000',
 '5,500,000',
 '220,000,000',
 '6,800,000',
 '15,400,000',
 '8,000,000',
 None,
 None,
 None,
 '10,000,000,000',
 None,
 None,
 '25,320,000',
 None,
 None,
 '2,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '450,000,000',
 '1,500,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '4,000,000',
 '4,400,000',
 None,
 None,
 None,
 None,
 '11,216,287',
 None,
 None,
 None,
 None,
 None,
 None,
 '70,000,000',
 None,
 None,
 None,
 '16,600,000',
 '4,300,000',
 '4,200,000',
 None,
 None,
 '1,350,000',
 '3,000,000',
 '49,000,000',
 None,
 '2,000,000',
 '20,000,000',
 '12,500,000',
 '12,000,000',
 None,
 '7,000,000',
 None,
 '10,200,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '7,000,000',
 '5,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '11,000,000',
 '1,400,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '9,370,000',
 None,
 '46,000',
 '750,000,000',
 None,
 None,
 None,
 '5,000,000',
 '300,000,000',
 None,
 '7,980,000',
 None,
 None,
 '700,000,000',
 None,
 '590,000',
 '4,500,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '30,000,000',
 None,
 '12,800,000',
 None,
 None,
 None,
 '2,000,000',
 None,
 None,
 '10,000,000',
 '6,400,000',
 '20,000,000',
 None,
 None,
 '1,300,000',
 '18,151,814',
 None,
 None,
 None,
 None,
 '17,000,000',
 None,
 '5,300,000',
 None,
 None,
 '16,000,000',
 '4,000,000',
 '30,000,000',
 None,
 None,
 '2,000,000',
 '70,000,000',
 None,
 None,
 '12,000,000',
 None,
 '5,500,000',
 None,
 '1,467,000',
 '3,000,000',
 None,
 '4,340,000',
 None,
 '10,920,000',
 '35,000,000',
 '4,300,000',
 None,
 '340,000,000',
 '1,000,000',
 '63,000,000',
 '100,000,000',
 None,
 None,
 None,
 '8,000,000',
 None,
 None,
 None,
 '400,000',
 '350,000,000',
 '350,000,000',
 None,
 None,
 '2,978,000',
 None,
 None,
 None,
 '63,300,000',
 None,
 None,
 '6,000,000',
 '37,700,000',
 None,
 None,
 None,
 None,
 None,
 '1,490,641',
 '2,500,000',
 '1,300,000',
 None,
 None,
 '120,000,000',
 None,
 None,
 '2,600,000',
 None,
 None,
 None,
 None,
 '3,000,000',
 '6,000,000',
 None,
 None,
 '6,250,000',
 None,
 '6,420,000',
 '6,000,000',
 None,
 None,
 '800,000,000',
 None,
 '450,000,000',
 None,
 None,
 '4,500,000',
 None,
 '180,000,000',
 '11,000,000',
 None,
 '400,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '',
 None,
 '550,000,000',
 '7,000,000',
 None,
 None,
 None,
 None,
 '68,005,000',
 '16,000,000',
 None,
 '4,500,000',
 '3,000,000',
 '500,000,000',
 None,
 None,
 '180,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '500,000',
 None,
 None,
 '350,000,000',
 None,
 '60,000,000',
 None,
 None,
 '9,000,000',
 None,
 '20,000,000',
 None,
 None,
 '2,000,000',
 None,
 None,
 None,
 None,
 None,
 '16,000,000',
 '15,000,000',
 '553,632,000',
 None,
 None,
 None,
 None,
 '84,450,000',
 '120,000,000',
 '10,205,000',
 '3,800,000',
 '3,850,000',
 '4,773,906',
 None,
 '100,000,000',
 '6,789,000',
 None,
 None,
 None,
 None,
 None,
 '102,000,000',
 '430,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '5,000,000',
 '5,000,000',
 None,
 '22,000,000',
 None,
 None,
 '9,000,000',
 None,
 '350,000,000',
 None,
 '4,000,000',
 None,
 '8,620,000',
 None,
 None,
 None,
 '6,700,000',
 None,
 '9,000,000',
 None,
 None,
 '300,000,000',
 '100,000,000',
 None,
 None,
 '4,600,000',
 '4,500,000',
 None,
 None,
 '1,800,000',
 None,
 '8,700,000',
 '19,000,000,000',
 '7,000,000',
 None,
 '1,300,000',
 None,
 None,
 None,
 '7,500,000',
 '10,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '5,000,000',
 '20,000,000',
 None,
 None,
 '27,000,000',
 None,
 '15,000,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '3,000,000',
 '13,000,000',
 None,
 '4,200,000',
 None,
 '8,000,000',
 None,
 '9,000,000',
 None,
 None,
 None,
 '35,500,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '4,750,000',
 '2,000,000',
 None,
 '15,500,000',
 None,
 '21,400,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '200,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '5,000,000',
 None,
 '4,000,000',
 None,
 '260,000,000',
 None,
 None,
 '200,000,000',
 '65,000,000',
 '1,300,000,000',
 None,
 '2,100,000',
 None,
 None,
 None,
 None,
 '8,500,000',
 None,
 None,
 '9,200,000',
 None,
 '200,000,000',
 None,
 None,
 None,
 '1,800,000',
 None,
 None,
 None,
 None,
 None,
 '2,500,000',
 None,
 None,
 None,
 '2,000,000',
 None,
 '7,500,000',
 None,
 '12,500,000',
 '3,500,000',
 None,
 None,
 None,
 '14,500,000',
 '5,000,000',
 None,
 None,
 '15,500,000',
 None,
 '33,000,000',
 None,
 None,
 None,
 '6,500,000',
 '10,000,000',
 None,
 '1,400,000',
 None,
 '14,000,000',
 '19,000,000',
 None,
 None,
 '13,600,000',
 None,
 '200,000,000',
 '290,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '3,000,000',
 None,
 None,
 None,
 None,
 None,
 '2,500,000',
 None,
 None,
 '530,000,000',
 None,
 None,
 '2,200,000',
 None,
 '700,000,000',
 None,
 None,
 '2,500,000',
 '8,000,000',
 '4,000,000',
 None,
 '21,166,000',
 None,
 None,
 None,
 None,
 None,
 '10,000,000',
 '4,770,000',
 '6,000,000',
 '3,300,000',
 None,
 None,
 None,
 None,
 None,
 '7,870,000',
 None,
 '930,000,000',
 None,
 '5,000,000',
 None,
 '12,000,000',
 '19,900,000',
 None,
 '7,500,000',
 None,
 None,
 '550,000,000',
 None,
 None,
 '200,000,000',
 '36,000,000',
 None,
 '4,000,000',
 None,
 None,
 None,
 '1,000,000',
 '5,700,000',
 '1,900,000',
 None,
 '100,000,000',
 None,
 None,
 None,
 None,
 '11,500,000',
 None,
 '400,000,000',
 None,
 '5,000,000',
 '300,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '50,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '4,200,000,000',
 None,
 '38,000,000',
 None,
 None,
 '9,000,000',
 None,
 None,
 '25,000,000',
 None,
 None,
 None,
 None,
 None,
 '60,000,000',
 None,
 None,
 None,
 '15,000,000',
 None,
 None,
 None,
 '800,000',
 None,
 '150,000,000',
 None,
 '2,500,000,000',
 None,
 None,
 '30,000,000',
 None,
 '26,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '2,500,000',
 '73,000,000',
 None,
 '960,000',
 None,
 None,
 '15,000,000',
 None,
 None,
 '1,600,000',
 '25,000,000',
 None,
 '200,000,000',
 '300',
 None,
 None,
 '2,500',
 '13,000,000',
 None,
 None,
 None,
 None,
 None,
 '6,000,000',
 '8,900,000',
 None,
 None,
 '10,000,000',
 '7,600,000',
 None,
 None,
 None,
 '40,000,000',
 None,
 None,
 '35,000,000',
 '6,428,966',
 '9,000,000',
 None,
 None,
 None,
 None,
 '7,300,000',
 None,
 None,
 '400,000,000',
 None,
 '26,400,000',
 None,
 None,
 None,
 None,
 None,
 '3,000,000',
 None,
 None,
 None,
 '2,150,000',
 '6,000,000',
 None,
 None,
 '4,000,000',
 '1,500,000',
 None,
 '25,000,000',
 None,
 '4,000,000',
 None,
 '3,500,000',
 None,
 None,
 '8,000,000',
 None,
 '2,000,000',
 '20,000,000',
 '2,000,000',
 None,
 None,
 None,
 None,
 '300,000',
 None,
 None,
 '1,750,000',
 None,
 None,
 None,
 '45,000,000',
 None,
 '47,500,000',
 None,
 None,
 None,
 None,
 '10,000,000',
 None,
 '600,000',
 None,
 None,
 None,
 None,
 None,
 '9,980,000',
 None,
 '23,000,000',
 '2,000,000',
 None,
 '18,000,000',
 '12,800,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1,000,000',
 '25,000,000',
 None,
 None,
 None,
 '40,000,000',
 None,
 '5,250,784',
 None,
 '100,000,000',
 None,
 '8,555,500',
 None,
 '17,500,000',
 '9,500,000',
 '5,383,899',
 '4,000,000',
 None,
 '234,000,000',
 '5,000,000',
 '5,000,000',
 None,
 None,
 None,
 '12,000,000',
 None,
 None,
 None,
 None,
 None,
 '650,000,000',
 None,
 None,
 '12,000,000',
 None,
 '4,000,000',
 None,
 '12,000,000',
 None,
 '500,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '50,000,000',
 '7,209,690',
 None,
 None,
 '2,000,000',
 None,
 '300,000',
 None,
 None,
 None,
 '2,500,000',
 None,
 None,
 None,
 None,
 '5,800,000',
 None,
 None,
 '1,250,000',
 None,
 None,
 None,
 '15,000,000',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '300,000,000',
 None,
 '12,700,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '2,300,000',
 None,
 None,
 None,
 None,
 None,
 None,
 '5,000,000',
 None,
 None,
 None,
 '15,300,000',
 '850,000',
 None,
 '20,000,000',
 None,
 None,
 None,
 None,
 '1,605,000',
 '2,700,000',
 '3,600,000',
 None,
 None,
 None,
 None,
 '300,000',
 None,
 ...]

In [21]:
len(budget_new)

1659

In [22]:
fl_movies_wbudget['budget_new'] = budget_new

In [23]:
fl_movies_wbudget['budget_new'] = fl_movies_wbudget['budget_new'].str.replace(",","")

In [24]:
fl_movies_wbudget.loc[fl_movies_wbudget['budget_new'] == '', 'budget_new'] = None

In [25]:
fl_movies_wbudget['budget_new'] = fl_movies_wbudget['budget_new'].astype(float)

In [29]:
fl_movies_wbudget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1659 entries, 0 to 1658
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   title                                     1659 non-null   object
 1   lifetime_gross                            1659 non-null   float64
 2   max_theaters                              1651 non-null   float64
 3   domestic_opening                          1591 non-null   float64
 4   num_opening_theaters                      1593 non-null   float64
 5   release_date                              1659 non-null   datetime64[ns]
 6   domestic_distributor                      1659 non-null   object
 7   domestic_total_gross                      1659 non-null   float64
 8   international_total_gross                 1659 non-null   float64
 9   earliest_release_location                 1659 non-null   object
 10  runtime                                   1612 non-null   float64
 11  genres                                    1659 non-null   object
 12  crew                                      1659 non-null   object
 13  cast                                      1659 non-null   object
 14  earliest_release_location_opening_gross   1524 non-null   float64
 15  earliest_release_location_original_gross  1653 non-null   float64
 16  language                                  1657 non-null   object
 17  budget                                    578 non-null    object
 18  currency                                  578 non-null    object
 19  budget_new                                577 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 336.7+ KB

In [27]:
import pickle #immediately pickling dataframe
fl_movies_wbudget.to_pickle('fl_movies_wbudget.pickle')

In [4]:
fl_movies_wbudget = pd.read_pickle('fl_movies_wbudget.pickle')

Attempting to convert currencies

https://stackoverflow.com/questions/45660529/forex-python-in-custom-function-for-pandas-dataframe
https://stackoverflow.com/questions/50114132/python-pandas-creating-a-new-column-using-currency-converter

In [6]:
'''from forex_python.converter import CurrencyRates
c = CurrencyRates()
import numpy as np
from datetime import datetime, timedelta
from time import sleep
    
def try_convert(amount, currency, date1):
    try:
        res = c.convert(base_cur=currency,dest_cur='USD',amount=amount, date_obj=date1)
    except:
        res = 'Could Not Convert'
    return res

def convert_rates(amount,currency,date1):
    if currency == None:
        return None 
    elif currency != 'USD':
        return try_convert(amount, currency, date1)
    else:
        return amount '''

In [8]:
'''from forex_python.converter import CurrencyRates
c = CurrencyRates()
import numpy as np
from datetime import datetime, timedelta
from time import sleep
    

def convert_rates(amount,currency,date1):
    if currency == None:
        return None 
    elif currency != 'USD':
        return c.convert(base_cur=currency,dest_cur='USD',amount=amount, date_obj=date1)
    else:
        return amount'''

In [14]:
#fl_movies_wbudget['budget_usd'] = np.vectorize(convert_rates)(amount=fl_movies_wbudget['budget_new'],currency=fl_movies_wbudget['currency'],date1=fl_movies_wbudget['release_date'])

In [ ]:
#c = CurrencyConverter() 

#def currency_convertor(row, new_currency):
    #amount = row['budget']
    #curr = row['currency']
    #date_r = row['release_date']
    #new_curr = c.convert(amount,curr,new_currency,date=date(date_r))
    #return new_curr

#fl_movies_wbudget['new_budget'] = fl_movies_wbudget.apply(lambda x: currency_convertor(x,new_currency="USD"), axis=1)

In [11]:
!pip install tqdm
from tqdm import tqdm

def converter(base_currency, amount_):
    c = CurrencyRates()
    converted_values = []
    bad_rows = []
    for i in tqdm(range(len(base_currency))):
        if base_currency[i] == 'USD':
            converted_values.append(amount_[i])
        else:
            try:
                value = c.convert(base_cur = base_currency[i], amount = amount_[i], dest_cur = 'USD')
                converted_values.append(value)
            except:
                bad_rows.append(i)
                converted_values.append('Failed to convert.')
    return converted_values

x = fl_movies_wbudget['currency'].values
y = fl_movies_wbudget['budget_new'].values

usd_budget = converter(x,y)

fl_movies_wbudget['budget_usd'] = usd_budget

Requirement already satisfied: tqdm in ./opt/anaconda3/envs/metis/lib/python3.8/site-packages (4.60.0)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 1659/1659 [02:45<00:00, 10.02it/s]

In [17]:
import pickle #immediately pickling dataframe
fl_movies_wbudget.to_pickle('fl_movies_wbudget.pickle')

In [12]:
fl_movies_wbudget.head()

,title,lifetime_gross,max_theaters,domestic_opening,num_opening_theaters,release_date,domestic_distributor,domestic_total_gross,international_total_gross,earliest_release_location,...,genres,crew,cast,earliest_release_location_opening_gross,earliest_release_location_original_gross,language,budget,currency,budget_new,budget_usd
0,Hero,53710019.0,2175.0,17800000.0,2031.0,2004-08-27,Miramax,53710019.0,123685538.0,"APAC, China",...,Action Adventure History,"Yimou Zhang Director, Feng Li Writer, Yimou Zh...","Jet Li, Tony Chiu-Wai Leung, Maggie Cheung, Zi...",17800000.0,53710019.0,Mandarin,"$31,000,000",USD,31000000.0,31000000.0
1,Parasite,53369749.0,2001.0,393216.0,3.0,2019-10-11,Neon,53369749.0,205484917.0,South Korea,...,Comedy Drama Thriller,"Bong Joon Ho Director, Bong Joon Ho Writer, Bo...","Kang-ho Song, Sun-kyun Lee, Yeo-jeong Cho, Woo...",393216.0,53369749.0,Korean,"$11,400,000",USD,11400000.0,11400000.0
2,Pan's Labyrinth,37634615.0,1143.0,568641.0,17.0,2006-12-29,Picturehouse,37634615.0,46215652.0,Spain,...,Drama Fantasy War,"Guillermo del Toro Director, Guillermo del Tor...","Ivana Baquero, Ariadna Gil, Sergi L√≥pez, Marib...",568641.0,37634615.0,Spanish,"$19,000,000",USD,19000000.0,19000000.0
3,Am√©lie,33225499.0,303.0,136470.0,3.0,2001-11-02,Miramax,33225499.0,140699243.0,France,...,Comedy Romance,"Jean-Pierre Jeunet Director, Guillaume Laurant...","Audrey Tautou, Mathieu Kassovitz, Rufus, Lorel...",136470.0,33225499.0,French,"$10,000,000",USD,10000000.0,10000000.0
4,Fearless,24633730.0,1810.0,10564000.0,1806.0,2006-09-22,Rogue Pictures,24633730.0,43439118.0,"APAC, China",...,Action Biography Drama Sport,"Ronny Yu Director, Chris Chow Writer, Richard ...","Jet Li, Li Sun, Yong Dong, Yun Qu",10564000.0,24633730.0,Mandarin,None,None,NaN,NaN

In [ ]:
import pandas as pd

my_dict = {key:value,key:value,key:value,...}
df = pd.DataFrame(list(my_dict.items()),columns = ['column1','column2'])

In [16]:
fl_movies_wbudget[fl_movies_wbudget['budget'].isna()].title[19:40]

77     Portrait of a Lady on Fire
79                 Mission Mangal
81                   Om Shanti Om
82               A Man Called Ove
84                    Shoplifters
89                        Phoenix
90         I've Loved You So Long
96               The Band's Visit
97                         Bharat
104              Monsieur Ibrahim
105             My Brother's Wife
107          In the Mood for Love
108                      RamLeela
111                 Walk on Water
113              Bharath Ane Nenu
116                 Kapoor & Sons
118                     Bang Bang
119              Man on the Train
120          Do It Like An Hombre
122                          Kick
123                  Love Aaj Kal
Name: title, dtype: object

In [ ]:
# Create DataFrame
other_budgets_df = pd.DataFrame(data)

In [ ]:
other_budgets = {'title': ['Padmaavat','PK','Dhoom 3','Biutiful',
                           'Pain and Glory','Ong-Bak: The Thai Warrior','Ae Dil Hai Mushkil','With a Friend Like Harry...',
                           'Yeh Jawaani Hai Deewani','Ida','The Class','Portrait of a Lady on Fire',
                          'Om Shanti Om','A Man Called Ove', 'Shoplifters', 'Phoenix']
                           
                'budget_USD':['30000000','12000000','30000000','35000000',
                              '10800000','1100000','15000000','3000000',
                              '8300000','2600000','3700000', '5400000',
                             '7000000', '300000', '110000000', '']}

  
# Create DataFrame
other_budgets_df = pd.DataFrame(other_budgets)